/*consructor*/

* {
	margin: 0;
	padding: 0;
}
html,
body,
.wrapper {
	height: 100%;
}
.content {
	box-sizing: border-box;
	min-height: 100%;
	padding-bottom: 82px;
	overflow: hidden; /* зря */
}
.footer {
	visibility: hidden;
	height: 80px;
	margin-top: -80px;
}


#owl-main.inside .item {
	height: 375px;
	padding-top: 0;
}

#owl-main.inside img {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.carousel-control.left, .carousel-control.right {
	z-index: 100;
	background: none;
}


.constructor {
	padding-top: 60px;
	padding-bottom: 60px;
}
.constructor h2 {
	color: #ff7271;
	margin-bottom: 60px;
}
.choose-tablet {
	margin: 0 auto;
	width: 80%;
}
.choice {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.choice img {
	text-align: center;
}
.choice {
	border-top: 1px solid #b2b2b2;
	padding-top: 45px;
	text-decoration: none;
}
.choice-wrap  {
	padding-left: 40px;
	padding-right: 40px;
}
.choice .name {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

.choice p.description {
	font-size: 14px;
	color: #000;
	opacity: .6;
}

.choice:hover {
	border-top-color: transparent;
}
.choice:before,
.choice:hover:before {
	top: -1px;
	/*	background: #ff5252;*/
}

.choice:active:before,
.choice:focus:before {
	/*background: transparent;*/
}

.choice:hover .name {
	color: #ff7171;
}
.icon {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
}

.icon:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	/*background-position: -50px 0;*/
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
}

.icon:hover:after,
.choice:hover .icon:after {
	opacity: 1;
}

.icon.phone {
	background: url("../images/c_phone.svg") no-repeat;
	width: 47px;
	height: 80px;
}
.icon.phone:after {
	background: url("../images/c_phone.hover.svg") no-repeat;
}
.icon.tablet {
	background: url("../images/sc-full.svg") no-repeat;
	width: 65px;
	height: 80px;
}
.icon.tablet:after {
	background: url("../images/sc-full-hover.svg") no-repeat;
}

.icon.apple {
	background: url("../images/apple.svg") no-repeat;
	width: 37px;
	height: 45px;
}
.icon.apple:after {
	background: url("../images/apple.hover.svg") no-repeat;
}

.icon.samsung {
	background: url("../images/samsung.svg") no-repeat;
	width: 147px;
	height: 22px;
}
.icon.samsung:after {
	background: url("../images/samsung.hover.svg") no-repeat;
}
.icon.sony {
	background: url("../images/sony.png") no-repeat;
	width: 124px;
	height: 22px;
}
.icon.sony:after {
	background: url("../images/sony.hover.png") no-repeat;
}
.icon.nexus {
	background: url("../images/nexus.png") no-repeat;
	width: 104px;
	height: 22px;
}
.icon.nexus:after {
	background: url("../images/nexus.hover.png") no-repeat;
}

.type-wrap {
	padding-left: 22px;
	padding-right: 22px;
}

.choose-type .choice {
	padding-top: 0;
}

.choose-type .icon {
	margin: 65px 0;
}
.choose-type .icon.apple {
	margin: 45px 0;
}

.top-tabs {
	border-top: 1px solid #e7e7e7;
}
.wizard > form {
	padding-top: 60px;
}
.wizard .wizard-inner {
	text-align: center;
	padding: 7px 0;
}
.wizard .nav-tabs {
	border-bottom: 0;
	display: inline-block;
}
.wizard .nav-tabs>li>a {
	text-transform: uppercase;
	color: #000;
}
.wizard .nav>li>a:focus,
.wizard .nav>li>a:hover {
	background-color: transparent;
}
.wizard .nav-tabs>li.active>a,
.wizard .nav-tabs>li.active>a:focus,
.wizard .nav-tabs>li.active>a:hover {
	border-color: transparent;
	color: #ff7271;
	font-family: "RobotoBold";
}
.wizard .nav-tabs>li>a:hover {
	border-color: transparent;
}
.wizard .nav-tabs>li.disabled>a {
	color: #bbb;
}

.wizard .nav-tabs li.secret {
	display: none;
	visibility: hidden;
}

.btn.next-step {
	transition: all 0.3s;
	font-weight: bold;
	text-transform: uppercase;;
	width: 170px;
	float: right;
	font-family: "DINPro-Regular";
	background-color: #0f7ffd;
	padding: 18px 12px;
	margin-right: -15px;
}
.btn.prev-step {
	float: left;
	padding: 18px 20px;
}

.btn.next-step:focus,
.btn.next-step:hover {
	background-color: #3f51b5 !important;
}

.btn.next-step.disabled,
.btn.next-step.disabled:focus,
.btn.next-step.disabled:hover {
	cursor: default;
	background-color: #e8e8e8 !important;
}

.arrow-r {
	background: url('../images/arrow-r.png');
	width: 16px;
	height: 16px;
}
.btn.next-step .arrow-r {
	position: relative;
	top: 4px;
	margin-left: 25px;
}
.btn.prev-step {
	background: none;
	border: none;
	box-shadow: none;
	color: #bbb;
	font-family: "DINPro-Regular";
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.prev-step.active.focus,
.btn-default.active:focus,
.prev-step.focus,
.prev-step:active.focus,
.prev-step:active:focus,
.prev-step:focus {
	background: none;
}
.arrow-back {
	background: url("../images/arrow-back.png");
	width: 16px;
	height: 16px;
}
.prev-step:hover .arrow-back,
.arrow-back:hover {
	background: url("../images/arrow-back.hover.png");
}

.choose-type .hvr-overline-from-left:before,
.choose-mark .hvr-overline-from-left:before,
.choose-model .hvr-overline-from-left:before {
	height: 3px;
}

a.choice.active {
	border-top-color: transparent;
}

.hvr-overline-from-left.active:before{
	right: 0;
}
.icon.active:after,
a.choice.active .icon:after {
	opacity: 1;
}

.history {
	width: 190px;
}
.history p.title {
	font-family: "RobotoMedium";
	font-size: 12px;
	text-transform: uppercase;
	color: #757575;
}
.history p.title i {
	font-size: 16px;
	margin-right: 15px;
	color: #ff5353;
}
.history ul {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
.history ul li {
	list-style: none;
	margin-bottom: 20px;
}
.history ul li a {
	color: #000;

	text-decoration: none;
}

.block-marks {
	position: relative;
}
.block-marks .mark-logo {
	position: absolute;
	top: -45px;
	left: 22px;
	opacity: .5;
}
.block-marks .mark-logo img {
	max-height: 30px;
}
.type-mark .choice {

}
.mark-wrap {
	padding-left: 22px;
	padding-right: 22px;
	height: 90px;
}

.choose-mark .choice .mark__bold {
	font-family: "RobotoBold";
}

.choose-mark .choice {
	padding: 25px 0;
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
}
.choose-mark .choice:hover {
	color: #ff7171;
}

.choose-type .icon {
	margin: 65px 0;
}
.choose-type .icon.apple {
	margin: 45px 0;
}

.choose-model .choice {
	padding: 25px 0;
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
}
.choose-model .choice:hover {
	color: #ff7171;
	cursor: pointer;
}

.choose-model .choice p.description {
	text-transform: none;
}

.choice p.price {
	font-size: 22px;
	color: #ff7171;
	font-weight: bold;
}
.choice i {
	color: #b1b1b1;
	font-size: 38px;
	padding: 10px 0;
}
.choice:hover i {
	color: #ff7171;
}
.photo-wrap {
	height: 190px;
}

.icon.plastik {
	background: url("../images/3_1_plastik.svg") no-repeat;
	width: 47px;
	height: 80px;
}
.icon.plastik:after {
	background: url("../images/3_1_plastik.hover.svg") no-repeat;
}

.icon.smartcase {
	background: url("../images/tablet-smartcase.svg") no-repeat;
	width: 56px;
	height: 82px;
}
.icon.smartcase:after {
	background: url("../images/tablet-smartcase_hover.svg") no-repeat;
}

.icon.soft {
	background: url("../images/3_2_softtouch.svg") no-repeat;
	width: 47px;
	height: 80px;
}
.icon.soft:after {
	background: url("../images/3_2_softtouch.hover.svg") no-repeat;
}

.icon.print {
	background: url("../images/3_2_3d.svg") no-repeat;
	width: 57px;
	height: 84px;
}
.icon.print:after {
	background: url("../images/3_2_3d.hover.svg") no-repeat;
}

.icon.silicon {
	background: url("../images/3_4_silicon.svg") no-repeat;
	width: 49px;
	height: 82px;
}
.icon.silicon:after {
	background: url("../images/3_4_silicon.hover.svg") no-repeat;
}

.icon.defense {
	background: url("../images/3_5_defense.svg") no-repeat;
	width: 45px;
	height: 82px;
}
.icon.defense:after {
	background: url("../images/3_5_defense.hover.svg") no-repeat;
}

.icon.print-photo {
	background: url("../images/print-photo.svg") no-repeat;
	width: 47px;
	height: 80px;
}
.icon.print-photo:after {
	background: url("../images/print-photo.hover.svg") no-repeat;
}

.icon.print-name {
	background: url("../images/print-name.svg") no-repeat;
	width: 47px;
	height: 80px;
}
.icon.print-name:after {
	background: url("../images/print-name.hover.svg") no-repeat;
}

.icon.text-hor {
	background: url("../images/text-hor.svg") no-repeat;
	width: 47px;
	height: 80px;
}
.icon.text-hor:after {
	background: url("../images/text-hor-hover.svg") no-repeat;
}

.upload-img {
	display: inline-block;
	float: left;
	width: 145px;
	height: 145px;
	overflow: hidden;
	border: 3px solid #fff;
}
.upload-img.active {
	position: relative;
	border: 3px solid #878787;
}
.upload-img.active:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #878787;
	opacity: .5;
}
.upload-img.active:after {
	position: absolute;
	top: 10px;
	right: 10px;
	content: '';
	background: url("../images/check.png") no-repeat;
	width: 26px;
	height: 26px;
}

.step6 .mui-select select  {
	height: 55px !important;
	width: 180px;
	font-family: "RobotoMedium";
}

.social-result {
	padding: 15px 0;
}
.social-result .social-icons {
	text-align: right;
	margin: 6px 0;
}
.complete h2 {
	font-size: 28px;
	margin: 10px 0 30px;
	font-weight: bold;
}
.complete p {
	font-size: 22px;
	color: #000;
	text-transform: uppercase;
}
.result-list.price p {
	font-size: 40px;
}
.complete p.label {
	color: #ff7171;
	font-size: 12px;
	text-transform: uppercase;
	padding: 5px 0;
}
.result-list {
	margin-bottom: 15px;
}
.complete .social-result .social-icons {
	text-align: center;
}
.complete .social-title {
	color: #000;
	display: inline-block;
	margin: 0 19px;
	font-size: 16px;
}
.attention {
	background: url("../images/note.png") no-repeat;
	min-height: 24px;
	padding-left: 45px;
	margin-top: 80px;
}
.bag {
	background: url('../images/bag.png');
	width: 19px;
	height: 22px;
}
.btn.btn-buy-big .bag {
	position: relative;
	top: 4px;
	margin-right: 25px;
}

.btn.btn-buy-big {
	width: 320px;
	float: left;
	font-family: "DINPro-Regular";
	background-color: #0f7ffd;
	padding: 7px 12px;
	margin-right: -15px;
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 2.2;
	margin-top: 10px;
	transition: all 0.3s;
}
.btn.btn-buy-big:hover,
.btn.btn-buy-big:focus {
	background-color: #3f51b5 !important;

}
.btn-container {
	position: relative;
}
.owl-theme-downloads .item {
	width: 64px;
	height: 64px;
}
.owl-theme-downloads .item img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	width: initial;
	margin: 0 auto;
}
.owl-theme-downloads {
	margin-top: 9px;
}
.btn.btn-add {
	width: 64px;
	height: 64px;
	float: left;
	font-family: "DINPro-Regular";
	background-color: #e6e6e6;
	padding: 18px 12px;
	color: #000;
	font-size: 7px;
	text-transform: uppercase;
	line-height: 2.2;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.btn.btn-add:hover,
.btn.btn-add:focus {
	background-color: #e6e6e6 !important;

}
.btn.btn-add i {
	width: 100%;
	font-size: 12px;
	color: #757575;
}

.owl-theme-downloads .owl-nav.disabled {
	display: block !important;
}
.owl-theme-downloads .carousel-control {
	width: auto;
	text-shadow: none;
	color: #9d9d9d;
}
.carousel-control.right {
	right: -25px
}
.carousel-control.left {
	left: -52px;
}
.carousel-control.right i,
.carousel-control.left i {
	margin-top: -22px;
}
.mess { /* зря */
	position: absolute;
	top: -60px;
	left: 0;
	font-size: 16px;
	color: #0f7ffd;
	font-weight: bold;
	text-align: center;
	border-top: 1px solid #0f7ffd;
	border-bottom: 1px solid #0f7ffd;
	padding: 18px 0;
	width: 100%;
}

/* select */
.s-hidden {
	visibility:hidden;
	padding-right:10px;
}

.select {
	cursor:pointer;
	display:inline-block;
	position:relative;
	color: rgba(0, 0, 0, 0.87);
	font-size: 16px;
	line-height: inherit;
	padding: 0 25px 0 0;
	height: 55px !important;
	width: 180px;
	font-family: "RobotoMedium";
	line-height: 55px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.26);
}

.styledSelect {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:white;
	padding:0 40px 0 50px;
	font-weight:bold;
}

.styledSelect:before {
	position: absolute;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	border: 1px solid black;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	border-radius: 50%;
}

.styledSelect:after {
	content:"";
	width:0;
	height:0;
	border:6px solid transparent;
	border-color:black transparent transparent transparent;
	position:absolute;
	top: 50%;
	right: 20px;
}

.styledSelect:active,
.styledSelect.active {
	background-color:#eee;
}

.options {
	display:none;
	position:absolute;
	top:100%;
	right:0;
	left:0;
	z-index:999;
	margin:0 0;
	padding:0 0;
	list-style:none;
	background-color:#f9f9f9;
	border-top: 1px solid rgba(0, 0, 0, 0.26);
}

.options li {
	margin:0 0;
	padding:0 40px 0 50px;
	position: relative;
}

.options li:hover {
	background-color:#f1f1f1;
}

.options li:before {
	position: absolute;
	display: block;
	content: "";
	width: 12px;
	height: 12px;
	border: 1px solid black;
	top: 50%;
	transform: translateY(-50%);
	left: 20px;
	border-radius: 50%;
}

.styledSelect[rel="black"]:before, 
.options li[rel="black"]:before {
	background: black;
}

.styledSelect[rel="white"]:before,
.options li[rel="white"]:before {
	background: white;
}

.styledSelect[rel="blue"]:before,
.options li[rel="blue"]:before {
	background: blue;
}


/* Progress bar */
@keyframes determinate {
	0% {transform: translateX(-100%);}
	50% {transform: translateX(0%);}
	100% {transform: translateX(0%);}
}

@keyframes indeterminate {
	0% {transform: translateX(-100%) scale(1, 1);}
	50% {transform: translateX(0%) scale(.2, 1);}
	100% {transform: translateX(100%) scale(1, 1);}
}

.progress-barr {
	display: none;
	background: rgba(255, 255, 255, 0.9);
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
}

.progress-bar__container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 460px;
	text-align: center;
	overflow-x: hidden;
}

.progress-bar__procent {
	font-size: 40px;
	font-family: "DINPro-Regular";
	color: #ff8383;
	margin-bottom: 48px;
}

.progress-bar__bg {
	width: 100%;
	overflow: hidden;
	height: 3px;
	background: #ffeaea;
	margin-bottom: 40px;
}

.progress-barr .progress-bar__count {
	width: 87%;
	background: #ff8383;
	height: 3px;
}

.progress-barr.upload-progress .progress-bar__count {
	animation: determinate 8s ease-in-out;
	transition: width 2s;
}

.progress-bar__text {
	font-size: 18px;
	font-family: "RobotoLight";
}

.progress-bar__alert {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 690px;
	bottom: 20px;
	padding: 20px 30px;
	background: #6b6b6b;
}

.alert__text {
	font-size: 18px;
	line-height: 24px;
	font-family: "RobotoMedium";
	color: #fff;
}

.alert__text p {
	margin: 0 0 5px 0;
}

.alert__text p:last-child {
	margin: 0;
}

.progress-barr.import-photo .progress-bar__text p {
	font-size: 18px;
	line-height: 27px;
	text-align: center;
}

/* Изменения 06.04.2017 */

.progress-barr.import-photo .progress-bar__count {
	width: 100%;
	background: transparent;
}

.subline{
	position:absolute;
	background:#ff8383;
	height:3px;
	top: 0;
}

.inc{
	animation: increase 2s infinite;
}

.dec{
	animation: decrease 2s 0.5s infinite;
}

@keyframes increase {
	from { left: -5%; width: 5%; }
	to { left: 130%; width: 100%;}
}

@keyframes decrease {
	from { left: -80%; width: 80%; }
	to { left: 110%; width: 10%;}
}
/* Изменения 06.04.2017 ..end; */

/* Modals-Alerts */

.step-back-modal__dialog,
.resolution-modal__dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 365px;
	border: 1px solid #fa5d5d;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.change-modal__dialog {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 285px;
	border: 1px solid #fa5d5d;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.step-back-modal__container{
	background: #fff;
	padding: 25px 45px 30px 40px;
}

.resolution-modal__container {
	background: #fff;
	padding: 25px 45px 25px 40px;
}

.change-modal__container {
	background: #fff;
	padding: 20px 30px 20px 30px;
}

.modal__title {
	font-size: 18px;
	font-family: "RobotoMedium";
	margin-bottom: 20px;
	line-height: 24px;
}

.modal__description {
	font-family: "RobotoLight";
	font-size: 16px;
	margin-bottom: 40px;
	line-height: 24px;
}

.modal__description p {
	margin: 0;
}

.modal__btns-container {
	float: right;
}

.step-back-modal__btn,
.step-back-modal__btn:hover,
.step-back-modal__btn:focus {
	color: #ff5757;
	font-size: 18px;
	font-family: "RobotoMedium";
	display: inline-block;
	text-transform: uppercase;
	margin-right: 25px;
}

.step-back-modal__btn:last-child {
	margin-right: 0;
}

.resolution-modal__container .modal__title {
	font-size: 16px;
}

.resolution-modal__container .modal__description {
	font-size: 14px;
}

.resolution-modal__container .step-back-modal__btn,
.resolution-modal__container .step-back-modal__btn:hover,
.resolution-modal__container .step-back-modal__btn:focus { 
	font-size: 16px;
}

.change-modal .modal__title {
	font-size: 14px;
	line-height: 19px;
}

.change-modal .modal__description {
	font-size: 13px;
	line-height: 19px;
	margin-bottom: 20px;
}

.change-modal .step-back-modal__btn,
.change-modal .step-back-modal__btn:hover,
.change-modal .step-back-modal__btn:focus { 
	font-size: 14px;
}

.hidden-always {
	display: none;
}

.complete__img-container img {
	margin: 0 auto;
	width: 60%;
}

.footer-owl-container {
	display: none;
}


.footer-text-edit {
	display: block;
	font-size: 0;
	text-align: center;
}

.text-edit__btn {
	border-left: 1px solid #b6b6b6;
	width: 100px;
	display: inline-block;
	height: 80px;
	position: relative;
}

.text-edit__btn:last-child {
	border-right: 1px solid #b6b6b6;
}

.text-edit__fill-btn:before {
	position: absolute;
	content: "";
	display: block;
	background: url('../images/fill.png') no-repeat 50% 50%;
	width: 100%;
	height: 100%;
}

.text-edit__font-rotation-btn:before {
	position: absolute;
	content: "";
	display: block;
	background: url('../images/180.png') no-repeat 50% 50%;
	width: 100%;
	height: 100%;
}

.text-edit__font-color-btn:before {
	position: absolute;
	content: "";
	display: block;
	background: url('../images/brush.png') no-repeat 55% 60%;
	width: 100%;
	height: 100%;
}

.disable-block {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
}

.icon.scfull {
	width: 67px;
	height: 80px;
	background: url('../images/sc-full.svg') no-repeat;
}

.icon.scfull:after {
	background: url('../images/sc-full-hover.svg') no-repeat;
}

.icon.net {
	background: url('../images/net.svg') no-repeat;
	width: 80px;
	height: 80px;
}

.icon.net:after {
	background: url('../images/net-hover.svg') no-repeat;
}

.icon.scnet {
	width: 80px;
	height: 81px;
	background: url('../images/sc-net.svg') no-repeat;
}

.icon.scnet:after {
	background: url('../images/sc-net-hover.svg') no-repeat;
}

.complete .social-icons {
	margin-top: 20px;
}

.social-icons_bottom {
	display: none;
}

/* Step 5_2 = Text */
.text-edit__buttons-btn {
	display: none;
	width: 100px;
	height: 80px;
	position: relative;
}

.text-edit__buttons-btn:before {
	position: absolute;
	content: "";
	display: block;
	background: url('../images/Ttt.png') no-repeat 50% 50%;
	width: 100%;
	height: 100%;
}

.text-edit__buttons {
	display: inline-block;
}

.input-container_outside {
	display: none;
}

.step5_2 {
	padding-bottom: 20px;
}

.step5_2 a.choice {
	padding-top: 25px;
}

.step5_2 .choose-text-orient {
	margin-bottom: 100px;
}

.step5_2 .select {
	margin-bottom: 120px;
}

.step5_2 .input-container {
	position: relative;
}

.text-input {
	width: 100%;
	padding: 15px 35px 15px 20px;
	/*font-size: 14px;*/
	font-size: 16px;
	font-family: "RobotoBold";
	border: none;
	outline: none;
	border-bottom: 2px solid #b2b2b2;
}

.text-input__btn-reset {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 35px;
	height: 35px;
	right: 2px;
	background: url(../images/clear_input.png) no-repeat center;
}

.footer .select2.select2-container {
	font-size: 16px;
	width: 275px !important;
	height: 80px;
	vertical-align: top;
	padding: 25px 35px 15px 35px;
	border-left: 1px solid #b6b6b6;
}

.select2-container--default .select2-selection--single {
	background: none;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #c4c4c4;
	height: 35px;
	outline: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	font-family: "RobotoMedium";
	padding-left: 5px;
	text-align: left;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
	left: auto;
	right: 35px;
	margin-top: -5px;
	border-width: 8px 6px 0 6px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-width: 0 6px 8px 6px;
}

.select2-search.select2-search--dropdown {
	display: none;
}

.select2-dropdown {
	border: none;
	border-radius: 0;
	background-color: #f9f9f9;
}

.select2-results__option {
	line-height: 70px;
	padding: 0 40px;
	font-size: 16px;
	font-family: "RobotoMedium";
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #e6e6e6;
	color: black;
}

.select2-container--default .select2-results>.select2-results__options {
	max-height: 400px;
	overflow: auto;
}

.select2-container--open {
	background: #dbdbdb;
}

.owl-fill-color-container__close-btn {
	float: left;
	width: 80px;
	height: 80px;
	display: inline-block;
	background: #dcdcdc url(../images/close.png) no-repeat 50% 50%;
	position: relative;
}

.owl-fill-color-container {
	font-size: 0;
	padding-right: 30px;
}

.owl-fill-color {
	margin-right: 15px;
	width: auto;
	margin-left: 135px;
	display: block;
	vertical-align: top;
}

.owl-fill-color .item.fix_padding {
	width: 70px;
}

/*.owl-fill-color .owl-stage-outer {
	padding-left: 70px;
	}*/

	.owl-fill-color .carousel-control.left i {
		left: 17px;
	}

	.owl-fill-color .item {
		width: 45px;
		height: 60px;
		border: 2px solid transparent;
	}

	.owl-fill-color .owl-fill-color__color-link {
		display: block;
		width: 100%;
		height: 100%;
	}

	.owl-fill-color .owl-fill-color__color-link.white {
		background: white;
	}

	.owl-fill-color .owl-fill-color__color-link.black {
		background: black;
	}

	.owl-fill-color .owl-fill-color__color-link.yellow {
		background: yellow;
	}

	.owl-fill-color .owl-fill-color__color-link.green {
		background: green;
	}
	.canvasContainerCSS {
		position: relative;
		min-height: 1px;
	}
	.canvasContainerCSS canvas {
		display: none;
		position: absolute;
		top:0;
		left:0;
	}
	.canvasContainerCSS canvas#cArea {
		z-index: 15;
	}
	.canvasContainerCSS canvas#cTotal,
	.canvasContainerCSS canvas#cFilter {
		display: inline-block;
		z-index: 40;
	}
	.cropper-container {
		z-index: 101;
		top: -60px;
	}
	.canvasContainerCSS .cropper-bg{
		background-image: none;
		background-color: rgba(255, 255, 255, 0.7);
	}
	.canvasContainerCSS .cropper-modal{
		background-color: #fff;
	}
	.canvasContainerCSS .cropper-view-box{
		outline: none;
		border: 1px solid rgba(51,153,255,.75); /* #39f */
	}
	.canvasContainerCSS .cropper-crop-box{
		position: relative;
		z-index: 121;
	}
	.canvasContainerCSS .cropper-canvas img{
		border: 1px solid rgba(255, 0, 0, 0.7);
	}

	.canvasContainerCSS .cropper-move{
		z-index: 111;
	}
	.canvasContainerCSS .cropper-canvas-zoom{
		position: absolute;
		width: 10px;
		height: 10px;
		background-color: rgba(255, 0, 0, 0.7);
		z-index: 131;
	}
	.canvasContainerCSS .cropper-canvas-zoom-top-left{
		top: -4px !important;
		left: -4px !important;
		right: auto !important;
		bottom: auto !important;
		cursor: nw-resize;
	}
	.canvasContainerCSS .cropper-canvas-zoom-top-right{
		top: -4px !important;
		left: auto !important;
		right: -4px !important;
		bottom: auto !important;
		cursor: ne-resize;
	}
	.canvasContainerCSS .cropper-canvas-zoom-bottom-left{
		top: auto !important;
		left: -4px !important;
		right: auto !important;
		bottom: -4px !important;
		cursor: ne-resize;
	}
	.canvasContainerCSS .cropper-canvas-zoom-bottom-right{
		top: auto !important;
		left: auto !important;
		right: -4px !important;
		bottom: -4px !important;
		cursor: nw-resize;
	}

	.canvasContainerCSS .cropper-crop-box:before{
		content: '';
		display: block;
		position: absolute;
		top:0;
		left:0;
		bottom:0;
		right:0;
		background-image: url(../images/overlay-silicone-ip-6-6S.png);
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: cover;
	}
	.canvasWidth {
		position: absolute;
		/*left: 50%;*/
	}
	.canvasAreaTransform {
		/*position: absolute;*/
		/*top: 0;*/
	}

	.canvasContainerCSS canvas#cText {
		display: inline-block;
		z-index: 45;
	}

	#loading {
		font-size: 24px;
		animation: loading 0.05s linear 0s infinite normal;
	}
	.wf-active #loading {
		display: none;
	}
	@keyframes loading {
		0% { opacity:1 }
		100% { opacity: 0 }
	}

	.wf-active #contents {
		display: block;
	}

	.owl-fill-color__color-link {
		border: 1px solid #ccc;
	}

	.owl-fill-color__color-link.active {
		border: 1px solid red;
	}

	.transform-text {
		position: absolute;
		z-index: 1;
	}
	.transform-text.selected {
		border: 2px dashed rgba(167, 167, 167, 0.52);
		z-index: 50;
	}
	.transform-text {

	}

/*
.owl-fill-color-container {
	position: absolute;
	bottom: 0;
	background: #fff;
	//width: 100%;
	}*/


	@-webkit-keyframes fadeInUp {
		from {
			opacity: 0;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}

		to {
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}

	@keyframes fadeInUp {
		from {
			opacity: 0;
			-webkit-transform: translate3d(0, 100%, 0);
			transform: translate3d(0, 100%, 0);
		}

		to {
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}

	.fadeInUp {
		-webkit-animation-name: fadeInUp;
		animation-name: fadeInUp;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}


	@-webkit-keyframes fadeInDown {
		from {
			opacity: 0;
			-webkit-transform: translate3d(0, -100%, 0);
			transform: translate3d(0, -100%, 0);
		}

		to {
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}

	@keyframes fadeInDown {
		from {
			opacity: 0;
			-webkit-transform: translate3d(0, -100%, 0);
			transform: translate3d(0, -100%, 0);
		}

		to {
			opacity: 1;
			-webkit-transform: none;
			transform: none;
		}
	}

	.fadeInDown {
		-webkit-animation-name: fadeInDown;
		animation-name: fadeInDown;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
		-webkit-animation-fill-mode: both;
		animation-fill-mode: both;
	}

	.text-edit__buttons .font-block {
		display: inline-block;
		height: 80px;
		padding-right: 40px;
		border-right: 1px solid #b6b6b6;
	}

	.text-edit__buttons input[type=range] {
		width: auto;
		display: inline-block;

	}

	.text-edit__font-block-btn {
		margin-right: 15px;
	}

	.text-edit__font-block-btn:before {
		position: absolute;
		content: "";
		display: block;
		background: url('../images/vertical-btn-slider.png') no-repeat 55% 55%;
		width: 100%;
		height: 100%;
	}

	#slider-text,
	#slider-text-mobile {
		position: relative;
		width: 185px;
		height: 5px;
		background: #f8d5d5;
		display: inline-block;
		top: -36px;
		border: 0 !important;
	}

	.ui-slider-range {
		background: #ff7171;
		position: absolute;
		height: 100%;
		border: none !important;
		cursor: pointer;
	}

	.ui-slider-handle,
	.ui-slider-handle:hover {
		width: 17px;
		height: 17px;
		position: absolute;
		border: none !important;
		background: #ff7171 !important;
		border-radius: 50%;
		outline: none !important;
		top: 50%;
		transform: translateY(-50%);
		margin-left: -9px;
		cursor: pointer;
	}

	.footer-panel {
		display: none;
		padding-left: 30px;
		padding-right: 30px;
		position:absolute;
		background: #fff;
		width: 100%;
		top: 0;
	}

	.footer .footer-panel  .select2.select2-container {
		float: left;
	}

	.footer .footer-panel .text-edit__font-block-btn,
	.footer .footer-panel .text-edit__font-rotation-btn,
	.footer .footer-panel .text-edit__font-color-btn {
		float: left;
	}

	#footer-image-panel,
	#footer-vert-panel,
	#footer-hor-panel {
		z-index: 10;
	}
	#footer-vert-slider-panel {
		z-index: 15;
	}

	#footer-image-panel {
		/*display: block;*/
		padding: 0;
		background: #eceff1;
		padding-left: 80px;
	}

	#footer-image-panel .footer-panel__container {
		text-align: center;
		height: 80px;
	}
	#footer-image-panel .footer-panel__container a {
		float: none;
	}

	#footer-image-panel .footer-panel__close-btn {
		position: absolute;
		left: 0;
		width: 80px;
		height: 80px;
		display: inline-block;
		background: #dcdcdc url(../images/close.png) no-repeat 50% 50%;
	}

	#footer-image-panel .text-edit__btn {
		border: none;
		width: 70px;
	}

	.text-edit__crop-rotate-left-btn:before {
		position: absolute;
		content: "";
		display: block;
		background: url('../images/rotate-l.png') no-repeat 50% 50%;
		width: 100%;
		height: 100%;
	}
	.text-edit__crop-rotate-right-btn:before {
		position: absolute;
		content: "";
		display: block;
		background: url('../images/rotate-r.png') no-repeat 50% 50%;
		width: 100%;
		height: 100%;
	}
	.text-edit__crop-rotate-left-90-btn:before {
		position: absolute;
		content: "";
		display: block;
		background: url('../images/b_rotate90.png') no-repeat 50% 50%;
		width: 100%;
		height: 100%;
	}
	.text-edit__crop-delete-btn:before {
		position: absolute;
		content: "";
		display: block;
		background: url('../images/b_delete.png') no-repeat 50% 50%;
		width: 100%;
		height: 100%;
	}

	.footer-relative {
		position: relative;
	}