/* font-family: "GothamProBlack"; */
@font-face {
	font-family: "GothamProBlack";
	src: url("../fonts/GothamProBlack/GothamProBlack.eot");
	src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
	url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

/* font-family: "BigNoodleTitling"; */
@font-face {
	font-family: 'BigNoodleTitling';
	src: url('../fonts/BigNoodleTitling/bignoodletitling.eot');
	src: url("../fonts/BigNoodleTitling/bignoodletitling.eot?#iefix")format("embedded-opentype"),
	url('../fonts/BigNoodleTitling/bignoodletitling.woff') format('woff'),
	url('../fonts/BigNoodleTitling/bignoodletitling.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}