/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.navbar-nav>li>a {
		padding: 15px 25px;
	}
	.section-main .info {
		max-width: 310px;
	}
	.block-1-clone.section-main .info {
		max-width: 100%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.block-1 {
		background: url(../images/block-1.jpg) 66% 50% no-repeat;
	}
	.block-2 {
		background: url("../images/block-2.jpg") 30% 50% no-repeat
	}
	.block-1-clone {
		background: none;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.block-1-clone__img-container {
		display: block;
	}
	.block-1-clone__img {
		margin: 0 auto;
		max-width: 55%;
		width: 100%;
	}
	.empty-block {
		height: 55px;
	}
	.section-main {
		margin-bottom: 25px;
	}
	.owl-theme-main .info {
		padding-top: 15px;
	}
	.owl-theme-main .info h3 {
		font-size: 35px;
	}
	.owl-theme-main .btn-block a.btn {
		padding: 15px 50px;
	}
	.owl-theme-main .btn-block {
		bottom: 40px;
	}

	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}


	/*animate close*/
	.navbar-main .navbar-toggle .icon-bar:nth-of-type(3) {
		top: 1px;
	}

	.navbar-main .navbar-toggle .icon-bar:nth-of-type(4) {
		top: 2px;
	}

	.navbar-main .navbar-toggle .icon-bar {
		position: relative;
		transition: all 500ms ease-in-out;
	}

	.navbar-main .navbar-toggle.active .icon-bar:nth-of-type(2) {
		top: 6px;
		transform: rotate(45deg);
	}

	.navbar-main .navbar-toggle.active .icon-bar:nth-of-type(3) {
		background-color: transparent;
	}

	.navbar-main .navbar-toggle.active .icon-bar:nth-of-type(4) {
		top: -6px;
		transform: rotate(-45deg);
	}
	/**/

	.navbar-main {
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #ece4dd;
	}

	.navbar-main .navbar-header {
		padding: 7px 0;
		position: relative;
	}

	.navbar-main .navbar-toggle.active {

	}

	.navbar-main .navbar-brand {
		position: absolute;
		left: 50%;
		margin-left: -75px;
		width: 150px;
		text-align: center;
	}


	/*.navbar-main .navbar-collapse {
		position: fixed;
		top: 0;
		left: 0;
		background: #fff;
		z-index: 200;
		min-height: 200%;
		width: 100%;
		}*/

		.navbar-main .navbar-nav>li {
			border-top: 1px solid #ece4dd;
		}
		.navbar-main .navbar-nav>li>a:hover {
			color: #ff7271;
		}

		.navbar-main .navbar-nav>.active>a {
			color: #ff7271;
		}
		.navbar-main .navbar-nav>li a i {
			float: right;
			margin-right: 40px;
			font-size: 18px;
			-moz-transform: rotate(-90deg);  /* Firefox */
			-o-transform: rotate(-90deg);  /* Opera */
			-webkit-transform: rotate(-90deg);  /* Safari y Chrome */
			transform: rotate(-90deg);
			-webkit-transition: all 200ms;
			-moz-transition: all 200ms;
			-o-transition: all 200ms;
			transition: all 200ms;
		}
		.navbar-main .navbar-nav>li.open a i {
			-moz-transform: rotate(0deg);  /* Firefox */
			-o-transform: rotate(0deg);  /* Opera */
			-webkit-transform: rotate(0deg);  /* Safari y Chrome */
			transform: rotate(0deg);
		}
		.navbar-main .dropdown:hover .dropdown-menu {
			display: none;
		}
		.navbar-nav .open .dropdown-menu {
			display: block !important;
			padding-top: 0;
		}
		.navbar-main .navbar-nav .open .dropdown-menu>li>a {
			color: #2a2a2a;
		}
		.navbar-main .dropdown-menu>li:before {
			display: none;
		}
		.navbar-main .navbar-nav>li>a {
			padding: 15px;
			padding-left: 20px;
		}
		.navbar-main .navbar-nav>.open>a,
		.navbar-main .navbar-nav>.open>a:focus,
		.navbar-main .navbar-nav>.open>a:hover {
			color: #bfa48d;
		}

		.block-1,
		.block-2 {
			background: none;
		}
		.section-main h3 {
			font-size: 25px;
		}
		.section-main .info {
			padding-top: 30px;
			text-align: center;
		}
		.section-main .info img {
			margin: 0 auto 32px;
		}
		.section-main p.price {
			margin-bottom: 20px;
		}

		h1, .h1 {

		}
		h2, .h2 {
			font-size: 25px;
		}
		.h3, h3 {

		}
		h4, .h4 {

		}
		p {

		}
		p.desc {
			font-size: 14px;
		}
		.owl-theme-main .btn-block a {
			float: none;
		}
		.owl-theme-main .btn-block {
			text-align: center;
			bottom: 70px;
		}
		.owl-theme-main .info h3 {
			font-size: 25px;
			text-align: center;
			margin-left: 0;
		}

		.owl-theme-main .item {
			height: 500px;
		}

		.owl-theme-main img {
			width: auto;
			height: 100%;
		}

		.owl-theme-main .owl-dots {
			text-align: center;
			position: relative;
			width: 100%;
			padding: 30px 0;
			background: #f7f7f7;
			-webkit-tap-highlight-color: transparent; }
			.owl-theme-main .owl-dots .owl-dot {
				display: inline-block;
				zoom: 1;
				/*display: inline; */
			}
				.owl-theme-main .owl-dots .owl-dot span {
					position: relative;
					width: 12px;
					height: 12px;
					margin: 5px 8px;
					background: #c4c4c4;
					border: none;
					display: block;
					-webkit-backface-visibility: visible;
					transition: opacity 200ms ease;
					border-radius: 30px; }
					.owl-theme-main .owl-dots .owl-dot.active span, .owl-theme-main .owl-dots .owl-dot:hover span {
						background: #ff7371;
					}
					.owl-theme-main .owl-dots .owl-dot span:before {
						position: absolute;
						content: '';
						width: 18px;
						height: 18px;
						top: -3px;
						left: -3px;
						background: #ff7371;
						border-radius: 50%;
						display: none;
					}
					.owl-theme-main .owl-dots .owl-dot.active span:before,
					.owl-theme-main .owl-dots .owl-dot:hover span:before {
						display: block;
					}

					.title-block {
						margin-bottom: 30px;
					}

					.insta-wrap {
						padding-left: 5px;
						padding-right: 5px;
					}

					.insta-wrap img {
						margin-bottom: 10px;
					}

					.social-title {
						text-align: center;
						font-size: 14px;
					}
					.social-icons {
						text-align: center;
					}
					.social-icons a {
						margin: 0 7px;
					}

					.payments img {
						max-width: 48px;
					}
					.footer .contacts p {
						line-height: 14px;
						font-size: 11px;
					}
					.footer .contacts {
						margin-top: 20px;
					}
					.footer .payments {
						margin: 40px 0;
					}
				}

				/* Small Devices, Tablets */
				@media only screen and (max-width : 768px) {
					.block-1, 
					.block-2 {
						height: auto;
						margin-bottom: 0;
					}

					.owl-theme-main.inside img {
						width: auto;
					}

					.choice {
						display: flex;
						flex-direction: column;
						justify-content: center;
					}

					.choice .name {
						align-self: center;
					}

					.icon.tablet {
						align-self: center;
					}

					.icon.phone {
						align-self: center;
					}

					.choose-tablet {
						width: 100%;
						padding: 0 15px;
					}

					.choice-wrap {
						padding: 15px 15px;
					}
				}

				/* Extra Small Devices, Phones */
				@media only screen and (max-width : 480px) {

				}

				/* Custom, iPhone Retina */
				@media only screen and (max-width : 320px) {

				}


				@media (min-width: 768px) {
					.container-b {
						width: 750px;
					}
				}
				@media (min-width: 992px) {
					.container-b {
						width: 970px;
					}
				}
				@media (min-width: 1200px) {
					.container-b {
						width: 1100px;
					}
				}
				@media (min-width: 1300px) {
					.container-b {
						width: 1265px;
					}
				}
				@media (min-width: 1400px) {
					.owl-theme-main.inside img {
						bottom: -100px;
					}
					.block-1,
					.block-2 {
						background-size: auto;
						background-color: #F3FDFE;
					}
					.block-1 {
						background-color: #fff;
					}
				}


				@media (min-width: 768px) {
					.container-b {
						width: 750px;
					}
				}
				@media (min-width: 992px) {
					.container-b {
						width: 970px;
					}
				}
				@media (min-width: 1200px) {
					.container-b {
						width: 1100px;
					}
				}
				@media (min-width: 1300px) {
					.container-b {
						width: 1250px;
					}
				}
				@media (min-width: 1400px) {

				}

				.container-b {
					padding-right: 15px;
					padding-left: 15px;
					margin-right: auto;
					margin-left: auto;
				}