/*==================================================
=            Bootstrap 3 Media Queries             =
==================================================*/

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 520px) {

}

@media only screen and (min-width : 640px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.constructor .seo-text {
		width: 80%;
		text-align: center;
		margin: 0 auto;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1199px) {
	.complete__img-container img {
		width: 100%;
	}

	.owl-carousel .right.carousel-control {
		display: block;
		width: 30px;
	}

	.top-tabs {
		margin-left: 0;
		margin-right: 0;
		border-bottom: 1px solid #e7e7e7;
	}

	.type-wrap {
		padding-left: 15px;
		padding-right: 15px;
	}

	.step1 > .row {
		margin-left: 0;
		margin-right: 0;
	}

	.btn.prev-step {
		padding-left: 45px;
	}

	.tab-content {
		padding-left: 35px;
		padding-right: 45px;
		padding-bottom: 30px;
	}

	.step5 {
		margin-top: -55px;
	}

	.footer .container-b > .row {
		padding-left: 30px;
		padding-right: 30px;
	} 

	.complete {
		margin-top: -40px;
	}

	.attention {
		margin-top: 25px;
	}

	.social-result {
		padding: 15px;
	}

	.complete .social-icons a {
		vertical-align: middle;
	}

	.complete .social-title {
		margin: 0;
		margin-right: 7px;
		vertical-align: middle;
	}

	.wizard .nav-tabs>li>a {
		padding: 10px 16px;
	}

	.complete .social-result .social-icons{
		text-align: left;
	}

	.colors-list {
		list-style: none;
		font-size: 0;
	}

	.colors-item__radio {
		display: none;
	}

	.colors-item__label {
		cursor: pointer;
		display: block;
		font-weight: normal;
		margin: 0;
	}

	.colors-item__text {
		font-size: 14px;
		font-family: "RobotoMedium";
		position: relative;
		padding: 20px 15px 20px 70px;
		color: black;
		border-top: 1px solid #b2b2b2;
		display: block;
	}

	.colors-item__text:after {
		display: block;
		content: "";
		position: absolute;
		width: 25px;
		height: 25px;
		top: 50%;
		transform: translateY(-50%);
		left: 30px;
		border: 1px solid #aaaaaa;
		background: #fff;
		border-radius: 50%;
	}

	.colors-item__radio:checked + .colors-item__text {
		border-top: 1px solid transparent;
	}

	.colors-item__radio:checked + .colors-item__text:before {
		content: "";
		position: absolute;
		/*z-index: -1;*/
		left: 0;
		right: 0;
		top: 0;
		background: #ff5252;
		height: 3px;
	}

	.colors-item__text.hvr-overline-from-left:hover {
		border-top: 1px solid transparent;
	}

	.colors-item__text.hvr-overline-from-left:before {
		height: 3px;
	}

	.colors-item__radio[rel="white"] + .colors-item__text:after {
		background: white;
	}

	.colors-item__radio[rel="black"] + .colors-item__text:after {
		background: black;
	}

	.colors-item__radio[rel="blue"] + .colors-item__text:after {
		background: blue;
	}

	.colors-item {
		margin-bottom: 25px;
	}

	.colors-list {
		margin: 60px 20px 0;
	}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 991px) {
	.text-edit__btn {
		width: 90px;
	}

	#slider-text,
	#slider-text-mobile {
		width: 170px;
	}

	.text-edit__buttons .font-block {
		padding-right: 30px;
	}

	.footer .select2.select2-container {
		width: 230px !important;
	}

	.choose-block {
		padding-top: 35px;
	}

	.step5_2 .select {
		margin-bottom: 65px;
	}

	.step5_2 .choose-text-orient {
		margin-bottom: 50px;
	}

	.social-icons a {
		margin: 0 6px;
	}

	.constructor {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.constructor h2 {
		margin-bottom: 35px;
	}
	.choose-tablet {
		width: 90%;
	}
	.choice-wrap {
		padding-left: 15px;
		padding-right: 15px;
	}

	.nav-tabs>li {
		display: none;
	}

	.nav-tabs>li.active {
		display: block;
	}

	.choose-mark .choice {
		padding: 15px 0;
	}

	.mark-wrap {
		height: 65px;
	}

	.choose-model {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.upload-img-list {
		padding: 0;
	}

	.upload-img {
		width: 20%;
		height: auto;
	}

	.complete .social-result .social-icons {
		white-space: nowrap;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.text-edit__font-block-btn {
		width: 55px;
	}

	#slider-text,
	#slider-text-mobile {
		width: 80px;
	}

	.text-edit__buttons .font-block {
		padding-right: 15px;
	}

	.step5_2 .select {
		margin-bottom: 0;
	}

	.input-container_outside {
		display: block;
		float: left;
		width: 100%;
		margin-top: 30px;
	}

	.input-container.input-conchoice.tainer_inside,
	.input-container_inside {
		display: none;
	}


	.step5_2 .choose-text-orient {
		margin-bottom: 40px;
	}

	.choose-text-orient__vert {
		margin-bottom: 40px;
	}

	.btn.next-step {
		width: 116%;
		padding: 21px 12px;
		font-size: 0;
		color: transparent;
	}

	.btn.next-step .arrow-r {
		top: 0;
	}

	.btn.prev-step {
		padding-left: 15px;
	}

	.tab-content {
		padding-left: 15px;
		padding-right: 15px;
	}

	.history p.title {
		font-size: 11px;
	}

	.history ul {
		font-size: 13px;
	}

	.choice {
		display: inline-block;
	}

	.choose-type .icon {
		transform: scale(0.7);
		margin: 48px 0;
	}

	.choose-type {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.choose-type .icon.apple {
		margin: 34px 0;
	}

	.step3__img {
		max-width: 88%;
		padding-left: 35px;
	}

	.choice .name {
		font-size: 13px;
	}

	.choice p.description {
		font-size: 12px;
	}

	.choice p.price {
		font-size: 20px;
	}

	.choose-model .choice {
		padding-top: 20px;
	}

	.choose-model .icon {
		transform: scale(0.8);
	}

	.choice p.description {
		margin-bottom: 5px;
	}

	.upload-img-list {
		padding: 0 33px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	.upload-img {
		width: 25%;
	}

	.upload-img-link img {
		width: 100%;
	}

	.step5__choose-model {
		padding: 0 75px;
	}

	.step5__choose-model > div.photo-wrap {
		width: 50%;
	}

	.step6__img-container {
		width: 50%;
	}
	
	.step6__filters {
		width: 50%;
	}

	.colors-list .colors-item {
		width: 100%;
	}

	.colors-list {
		margin: 10px 0px 0;
	}

	.step6__top {
		padding: 0 85px;
	}

	.complete h2 {
		font-size: 23px;
		margin-bottom: 20px;
	}

	.complete__img {
		width: 100%;
		padding: 0 15px;
	}

	.result-list {
		margin-bottom: 10px;
	}

	.complete p {
		font-size: 20px;
	}

	.btn.btn-buy-big {
		width: 100%;
	}

	.attention {
		font-size: 12px;
	}

	.complete .social-title {
		font-size: 14px;
	}

	.complete .social-icons a .fa {
		transform: scale(0.9);
	}

	.complete .social-icons a {
		margin: 0 5px;
	}

	.progress-bar__alert {
		width: 590px;
		padding: 10px 30px;
	}

	.alert__text {
		font-size: 16px;
	}

	.text-edit__btn {
		width: 66px;
	}

}

@media only screen and (max-width : 640px) {
	.owl-fill-color .carousel-control.left i {
		left: 25px;
	}

	#slider-text,
	#slider-text-mobile {
		display: block;
		margin: 0 auto;
		top: 40px;
		width: 130px;
	}

	.text-edit__font-block-btn {
		width: 40px;
		margin-right: 0;
	}

	.owl-fill-color-container__close-btn {
		margin-left: -30px;
	}

	.footer-panel {
		max-height: 80px;
		overflow: hidden;
	}

	.owl-fill-color {
		margin-left: 85px;
	}

	.text-edit__buttons {
		display: none;
	}

	.text-edit__fill-btn {
		width: 50%;
		border: none;
	}

	.text-edit__buttons-btn {
		width: 48%;
		display: inline-block;
	}

	.footer .dropup {
		width: 48%;
		display: inline-block;
	}

	.footer .select2.select2-container {
		border: none;
	}

	.text-edit__font-color-btn {
		border: none;
		width: 70px;
	}

	.text-edit__font-rotation-btn {
		border: none;
		width: 70px;
	}

	.text-edit__btn:last-child {
		border: none;
	}

	.dropdown-menu {
		left: -100%;
		border-radius: 0;
	}

	.text-edit__font-color-btn:before {
		background: url(../images/brush.png) no-repeat 52% 50%;
	}

	.step5_2 .input-container {
		padding: 0 30px;
	}

	.text-input__btn-reset {
		right: 32px;
	}

	.social-icons_bottom {
		display: block;
	}

	.social-icons_b-img {
		display: none;
	}

	.btn.next-step {
		width: 75px;
	}

	.step1__history-container {
		display: none;
	}

	.step1 .choose-type-container {
		width: 100%;
	}

	.btn.next-step .arrow-r {
		margin-left: 10px;
	}

	.step1 .choose-type {
		margin-top: -45px;
	}

	.step2__img-container {
		display: none;
	}

	.block-marks {
		width: 100%;
	}

	.block-marks .mark-logo {
		left: 50%;
		transform: translateX(-50%);
	}

	.mark-wrap {
		height: 95px;
	}

	.choose-mark .choice {
		padding: 33px 0;
	}

	.step3__img-container {
		display: none;
	}

	.step3 .choose-model-container {
		width: 100%;
		margin-top: -45px;
	}

	.step4__img-container {
		display: none;
	}

	.step4 .model-wrap {
		width: 50%;
	}

	.step4 .choose-model {
		margin-top: -45px;
	}

	.step4 .choice .name {
		font-size: 14px;
	}

	.step4 .choice p.description {
		padding: 0 25px;
		margin-top: 10px;
	}

	.step4 .choose-model .icon {
		transform: none;
	}

	.step5__choose-model {
		padding: 0;
	}

	.step5__choose-model > div.photo-wrap {
		height: 155px;
	}

	.upload-img {
		width: 33%;
	}

	.upload-img-list {
		padding: 0 15px;
	}

	.step6__img-container {
		width: 58.33333333%;
	}
	
	.step6__filters {
		width: 41.66666667%;
	}

	.step6__img {
		width: 100%;
	}

	.step6__top {
		padding: 0;
	}

	.complete h2 {
		position: absolute;
		width: 200%;
		left: -100%;
		text-align: center;
		top: -55px;
		font-size: 16px;
	}

	.complete {
		margin-top: 0;
	}

	.complete .btn.btn-buy-big {
		display: none;
	}

	.attention {
		margin-top: 10px;
		background: none;
		padding: 0;
	}

	.complete .social-result .social-icons {
		white-space: normal;
		text-align: center;
		margin-top: 0;
	}

	.social-result {
		width: 100%;
		margin-left: 0;
	}

	.complete .hidden-always {
		display: block;
	}

	.complete .hidden-always .btn-buy-big {
		margin-top: 25px;
		display: block;
	}

	.result-list.price p {
		font-size: 32px;
	}

	.complete p {
		font-size: 16px;
	}

	.complete p.label {
		font-size: 9px;
	}

	.complete__img-container > div {
		margin-right: -25px;
		margin-left: -15px;
	}

	.progress-bar__container {
		max-width: 90%;
	}

	.progress-bar__procent {
		margin-bottom: 15px;
	}

	.progress-bar__alert {
		padding: 20px 30px;
		max-width: 90%;
	}

	.progress-barr.import-photo .progress-bar__text p {
		line-height: 18px;
	}

	.progress-bar__bg {
		margin-bottom: 30px;
	}

	.step-back-modal__dialog, 
	.resolution-modal__dialog,
	.change-modal__dialog {
		max-width: 90%;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 520px) {
	.footer-mobile-slider-container {
		height: 80px;
	}

	.select2-results__option {
		padding: 0 5px;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.footer-panel__container {
		display: flex;
		justify-content: space-between;
	}

	.footer-panel__close-btn {
		width: 50px;
		position: absolute;
	}

	.footer .select2.select2-container {
		margin-left: 30px;
		width: 140px !important;
		padding: 25px 5px 15px 5px;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow b {
		right: 5px;
	}

	.text-edit__font-color-btn {
		width: 55px;
		transform: scale(0.8);
	}

	.text-edit__font-rotation-btn {
		width: 35px;
		transform: scale(0.8);
	}

	.icon.text-hor {
		transform: scale(0.8);
	}

	.icon.print-name {
		transform: scale(0.8);
	}

	.step5_2 a.choice {
		padding-top: 10px;
	}

	.step5_2 .select {
		display: none;
	}

	.colors-item__text {
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.colors-item__text:after {
		display: none;
	}

	.choose-type .icon {
		transform: scale(0.6);
		margin-left: -20px;
		margin-right: -20px;
	}	
}

@media only screen and (max-width : 470px) {
	.styledSelect {
		padding: 0 10px 0 15px;
		font-size: 12px;
	}

	.select {
		width: 120%;
	}

	.styledSelect:before {
		width: 7px;
		height: 7px;
		left: 2px;
	}

	.styledSelect:after {
		right: 10px;
		border: 4px solid transparent;
		border-color: black transparent transparent transparent;
	}

	.options li {
		padding: 0 10px 0 15px;
		font-size: 12px;
	}

	.options li:before {
		width: 7px;
		height: 7px;
		left: 2px;
	}
}

@media only screen and (max-width : 450px) {
	.attention-container {
		width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width : 350px) {
	.complete .social-icons a {
		margin: 0 2px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}
