@font-face {font-family: "DINPro-Regular";
src: url("../fonts/DINPro-Regular/DINPro-Regular.eot");
src: url("../fonts/DINPro-Regular/DINPro-Regular.eot?#iefix") format("embedded-opentype"),
url("../fonts/DINPro-Regular/DINPro-Regular.woff2") format("woff2"),
url("../fonts/DINPro-Regular/DINPro-Regular.woff") format("woff"),
url("../fonts/DINPro-Regular/DINPro-Regular.ttf") format("truetype"),
url("../fonts/DINPro-Regular/DINPro-Regular.svg#DINPro-Regular") format("svg");
}

@font-face {font-family: "Roboto-Black";
src: url("../fonts/Roboto Black V1/Roboto Black V1.eot");
src: url("../fonts/Roboto Black V1/Roboto Black V1.eot?#iefix") format("embedded-opentype"),
url("../fonts/Roboto Black V1/Roboto Black V1.woff2") format("woff2"),
url("../fonts/Roboto Black V1/Roboto Black V1.woff") format("woff"),
url("../fonts/Roboto Black V1/Roboto Black V1.ttf") format("truetype"),
url("../fonts/Roboto Black V1/Roboto Black V1.svg#Roboto-Black") format("svg");
}
/* font-family: "RobotoLight"; */
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoMedium"; */
@font-face {
	font-family: "RobotoMedium";
	src: url("../fonts/RobotoMedium/RobotoMedium.eot");
	src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"),
	url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
/* font-family: "RobotoBold"; */
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}


body {
	font-family: "DINPro-Regular";
}
html,
body,
input,
textarea,
buttons {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
a {

}
b {
	font-family: "RobotoBold";
	font-weight: normal;
}
h1, .h1 {
	font-size: 28px;
}

h2 {
	font-family: "RobotoLight";
	font-size: 40px;
	text-transform: uppercase;
	font-stretch: condensed;
}
p.desc {
	font-family: "RobotoMedium";
	font-size: 16px;
	color: #000000;
	opacity: .5;
}


.fab{
	border-radius: 50%;
	margin:0;
	padding: 20px;
}

.material{
	position:relative;
	color:white;
	margin: 20px auto;
	height:400px;
	width:500px;
	background:#f45673;

}

.ripple{
	overflow:hidden;
}

.ripple-effect{
	position: absolute;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background: #efefef;
	animation: ripple-animation 2s;
	-webkit-animation-fill-mode: forwards;
}


@keyframes ripple-animation {
	from {
		transform: scale(1);
		opacity: 0.4;
	}
	to {
		transform: scale(100);
		opacity: 0;
	}
}

/*hover.css*/
[class^="hvr-"] {
	margin: .4em;
	padding: 1em;
	cursor: pointer;
	background: #e1e1e1;
	text-decoration: none;
	color: #666;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hvr-overline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	position: relative;
	/*overflow: hidden;*/
}


.hvr-overline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	top: 0;
	background: #ff5252;
	height: 2px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before {
	right: 0;
}
/*---------*/

.btn {
	position: relative;
	border: none;
	border-radius: 0;
	font-size: 16px;
	padding: 12px 16px;
	font-family: "Roboto-Black";
	font-weight: normal;
}
.btn-default {
	color: #fff;
	background: #ff8a65;
	text-transform: uppercase;
}
.btn-default:hover,
.btn-default.active.focus, .btn-default.active:focus, .btn-default.focus, .btn-default:active.focus, .btn-default:active:focus, .btn-default:focus {
	background-color: #f37750;
	color: #fff;
}

.btn-light {
	color: #fff;
	background: #66dfde;
	text-transform: uppercase;
}
.btn-light:hover,
.btn-light.active.focus, .btn-light.active:focus, .btn-light.focus, .btn-light:active.focus, .btn-light:active:focus, .btn-light:focus {
	background-color: #5ed0cf;
	color: #fff;
}


.btn-border {
	color: #ff7271;
	background: transparent;
	text-transform: uppercase;
	border: 5px solid #ff7271;
}
.btn-border:hover,
.btn-border.active.focus, .btn-border.active:focus, .btn-border.focus, .btn-border:active.focus, .btn-border:active:focus, .btn-border:focus {
	background-color: rgba(255, 255, 255, .3);
	color: #ff7271;
}

.btn-lg {
	padding: 25px 80px;
}

.btn-lg i {
	margin-left: 22px;
}



.btn-dark {
	color: #c6aa92;
	font-size: 12px;
	background: #2a2a2a;
	border-radius: 0;
	font-family: "OpenSans";
	border-color: transparent;
	border-top: 1px solid #c6aa92;
	border-bottom: 1px solid #c6aa92;
}
.btn-dark:hover {
	color: #c6aa92;
	border-color: transparent;
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
	outline: none;
}

.navbar-main {
	margin-bottom: 0;
	padding: 7px 0;
	border: none;
	background: #fff;
	position: relative;
	border-radius: 0;
	color: #2a2a2a;
	font-family: 'RobotoMedium';
	font-size: 14px;
	text-transform: uppercase;
}
.navbar-main .navbar-collapse {
	border: none;
}
.navbar-main .navbar-nav {
	margin: 0 -15px;
}
.navbar-main .navbar-nav>li:before {
	display: none;
}
.navbar-main .navbar-nav>li a {
	color: #2a2a2a;
	font-family: "RobotoMedium";
	font-size: 14px;
	border: none;
	position: relative;
}

.navbar-main .nav>li>a:focus,
.navbar-main .nav>li>a:hover {
	color: #ff7271;
	text-decoration: none;
	background: none;
	border: none;
	position: relative;
}
.navbar-main .navbar-nav>.active>a,
.navbar-main .navbar-nav>.active>a:focus,
.navbar-main .navbar-nav>.active>a:hover {
	color: #ff7271;
	background: none;
	text-decoration: none;
	border: none;
	position: relative;
}

.navbar-main .nav.navbar-nav>li {
	/*position: static;*/
	position: relative;
}
.navbar-main .navbar-toggle .icon-bar {
	background-color: #000;
}
.navbar-main .navbar-toggle {
	border-color: #fff;
	float: left;
	margin-left: 15px;
}
.navbar-main .navbar-toggle:focus,
.navbar-main .navbar-toggle:hover {
	background-color: #fff;
}




/*наведение на подменю для родителя*/
.navbar-main .dropdown .root-item-selected,
.navbar-main .dropdown:hover > a{
	position: relative;
	color: #2a2a2a;
	background: none;
	text-decoration: none;
}

.navbar-main .navbar-nav>.open>a,
.navbar-main .navbar-nav>.open>a:focus,
.navbar-main .navbar-nav>.open>a:hover {
	background: none;
	color: #2a2a2a;
}
.navbar-main .navbar-nav .open .dropdown-menu>.active>a,
.navbar-main .navbar-nav .open .dropdown-menu>.active>a:focus,
.navbar-main .navbar-nav .open .dropdown-menu>.active>a:hover {
	background: none;
	color: #2a2a2a;
}

.navbar-main .navbar-nav>li {
	color: #2a2a2a;
	padding: 0;
}
.navbar-main .navbar-nav>li a i {
	margin-left: 5px;
	color: #2a2a2a;
	float: right;
	position: relative;
	top: 4px;
}
.navbar-main .navbar-nav>li:hover a i {
	color: #8b8b8b;
}
.navbar-main .dropdown:hover .dropdown-menu {
	display: block;
	background-color: #fff;
	border: none;
	border-radius: 0;
	text-align: center;

}

.navbar-main .dropdown-menu{
	background-color: #fff;
	color:#2a2a2a;
	left: 20px;
	padding: 10px 0;
	border: none;
	min-width: 200px;
}
.navbar-main .dropdown-menu>li {
	position: relative;
	padding: 0 10px 0 35px;
	text-align:left;
}

.navbar-main .dropdown-menu>li:hover {
	background: #fff;
}
.navbar-main .dropdown-menu>li:last-child {
	border: none;
}

.navbar-main .dropdown-menu>li>a{
	position: relative;
	display: inline-block;
	color: #2a2a2a;
	white-space: normal;
	word-wrap: normal;
	font-size: 14px;
	text-transform: none;
	padding: 10px !important;
}

.navbar-main .dropdown-menu>li:focus >a, .navbar-main .dropdown-menu>li:hover >a {
	color: #2a2a2a;
	text-decoration: underline;
	/*border-bottom: 1px solid #638ccb;*/
	/*padding-bottom: 9px;*/
	background: none;
}

.navbar-main .dropdown-menu>li:before {
	position: absolute;
	/*content: '\f105';*/
	left: 25px;
	top: 10px;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #d3c0b0;
	font-size: 20px;
}
.navbar-main .dropdown-menu>li:focus>a:after, .navbar-main .dropdown-menu>li:hover>a:after {
	position: absolute;
	bottom: 5px;
	height: 1px;
	background: #fff;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
	background-color: #fff;
	text-decoration: underline;
}


.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	font-size: 16px;
	padding: 7px 20px 7px 20px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: none;
	color: #4b4b4b;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f3f3f3;
}
.table-hover>tbody>tr:hover {
	background-color: #f7f7f7;
}


.section-main {
	margin-bottom: 40px;
}

.promo {
	display: block;
	background: #fff176;
	min-height: 115px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.promo .h1 {
	font-size: 40px;
}

.block-1 {
	background: url("../images/block-1.jpg") 50% 50% no-repeat;
	width: 100%;
	height: 444px;
	background-size: cover;
}

.block-2 {
	background: url("../images/block-2.jpg") 50% 50% no-repeat;
	width: 100%;
	height: 444px;
	background-size: cover;
}
.block-2 .info {
	float: right;
	text-align: right;
}

.block-1-clone {
	background: none;
}

.block-1-clone__img-container {
	display: inline-block;
}

.section-main h3 {
	font-size: 40px;
	text-transform: uppercase;
	font-family: "DINPro-Regular";
	font-weight: bold;
	color: #ff9979;
}
.section-main p {
	color: #000;
	opacity: .38;
	font-size: 16px;
	margin-bottom: 30px;
}
.section-main .btn {
	margin-bottom: 15px;
}
.section-main p.price {
	font-size: 20px;
	color: #ff8a65;
	opacity: 1;
	font-weight: bold;
}
.section-main .info {
	padding-top: 65px;
}

.block-2 h3 {
	color: #50bdbc;
}
.block-2 p.price {
	color: #66dfde;
}

.carousel-control.left i,
.carousel-control.right i {
	position: absolute;
	top: 50%;
	margin-top: -10px;
	font-size: 45px;
	opacity: .7;
}

.owl-theme-main img,
.not-slides-block img {
	width: 100%;
}

.owl-theme-main .item,
.not-slides-block .item{
	position: relative;
}
.owl-theme-main .item .container-b,
.not-slides-block .item .container-b {
	position: relative;
	height: 100%;
}
.owl-theme-main .info,
.not-slides-block .info {
	position: absolute;
	top: 0;
	padding-top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
}

.owl-theme-main .info h3,
.not-slides-block .info h3 {
	font-size: 40px;
	color: #ff7271;
	text-transform: uppercase;
	margin-left: 100px;
}
.owl-theme-main .btn-block,
.not-slides-block .btn-block {
	position: absolute;
	right: 0;
	bottom: 70px;
}
.owl-theme-main .btn-block a,
.not-slides-block .btn-block a {
	float: right;
}

.empty-block {
	width: 100%;
	height: 110px;
	clear: both;
}

.title-block {
	margin-bottom: 50px;
}

.insta-wrap {
	padding-right: 7px;
	padding-left: 7px;
}
.social {
	margin-bottom: 25px;
}
.social-title {
	font-size: 16px;
	text-align: right;
	text-transform: uppercase;
	margin: 8px 0;
}
.social-icons a {
	color: #ffcccc;
	font-size: 25px;
	margin: 0 10px;
}
.social-icons a:hover {
	color: #FE6F6F;
}


.footer {
	background: #eceff1;
}

.footer .payments {
	margin: 45px 0;
}
.footer .contacts {
	margin-top: 30px;
}
.footer .contacts p {
	font-size: 12px;
	color: #546e7a;
	font-family: "RobotoMedium";
	margin-bottom: 0;
}
.footer  p.shop {
	font-family: "RobotoBold";
}
.cart-small {
	position: relative;
	display: block;
	background: url("../images/cart.png");
	width: 23px;
	height: 27px;
	float: right;
	margin-right: 35px;
	margin-top: 12px;
	margin-bottom: 12px;
}

.cart-small .badge {
	background-color: #ff7371;
	border-radius: 50%;
	position: absolute;
	right: -12px;
	top: -12px;
	min-width: 24px;
	min-height: 24px;
	font-family: "RobotoBold";
	font-size: 15px;
	padding: 4px 7px;
}


.constructor {
	padding-top: 60px;
	padding-bottom: 60px;
}
.constructor h2 {
	color: #ff7271;
	margin-bottom: 60px;
}
.choose-tablet {
	margin: 0 auto;
	width: 80%;
}
.choice {
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}
.choice img {
	text-align: center;
}
a.choice {
	border-top: 1px solid #b2b2b2;
	padding-top: 45px;
	text-decoration: none;
}
.choice-wrap  {
	padding-left: 40px;
	padding-right: 40px;
}
a.choice .name {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}
label.choice .name {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000;
}

a.choice p.description {
	font-size: 14px;
	color: #000;
	opacity: .6;
}

a.choice:hover {
	border-top-color: transparent;
}
a.choice:before,
a.choice:hover:before {
	top: -1px;
}
a.choice:hover .name {
	color: #ff7171;
}
.icon {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	background-size: contain !important;
	background-position: center !important;
}

.icon:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	background-size: contain !important;
	background-position: center !important;
}

.icon:hover:after,
a.choice:hover .icon:after {
	opacity: 1;
}

.icon.phone {
	background: url("../images/3_1_plastik.svg") no-repeat;
	width: 47px;
	height: 80px;
}
.icon.phone:after {
	background: url("../images/3_1_plastik.hover.svg") no-repeat;
}
.icon.tablet {
	background: url("../images/sc-full.svg") no-repeat;
	width: 65px;
	height: 80px;
}
.icon.tablet:after {
	background: url("../images/sc-full-hover.svg") no-repeat;
}

.owl-theme-main,
.not-slides-block {
	margin-bottom: 30px;
}

.owl-theme-main.owl-theme-main-second .info h3,
.not-slides-block.not-slides-block_2 .info h3 {
	color: #fff;
}

.owl-theme-main.owl-theme-main-second .btn-block a,
.not-slides-block.not-slides-block_2 .btn-block a {
	background: #fff;
	color: black;
	border-color: #fff;
}